.ecosystem__inner {
    display: flex;
    gap: 2%;
    padding: 32px 100px;
    box-shadow: rgba(31, 38, 135, 0.09) 0px 8px 32px 0px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.18);
    border-image: initial;
    width: 100%;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.heading {
    font-size: 50px;
    font-weight: normal;
    color: #88FF4E;
    line-height: 67px;
}

.paragrapgh {
    font-size: 24px;
    line-height: 36px;
}

.box__1 {
    display: flex;
    gap: 50px;
}

@media only screen and (max-width: 480px) {
    .ecosystem__inner {
        padding: 25px 25px;
    }
}