.card {
    padding: 146px 0 110px 0;
}

@media only screen and (max-width: 1780px) {
    .card {
        padding: 146px 0 80px 0;
    }
}

@media only screen and (max-width: 1680px) {
    .card {
        padding: 136px 0 52px 0;
    }
}

@media only screen and (max-width: 1580px) {
    .card {
        padding: 123px 0 60px 0;
    }
}

@media only screen and (max-width: 1480px) {
    .card {
        padding: 94px 0 0px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .card {
        padding: 40px 0 11px 0;
    }
}

@media only screen and (max-width: 840px) {
    .card {
        padding-left: 30px;
        padding-right: 30px;
    }
}
