.card__boxes__outer {
    padding: 150px 0;
}

.card__boxes__inner {
    display: flex;
    gap: 30px;
}

.card__boxes__inner .card__box {
	box-shadow: rgba(31, 38, 135, 0.09) 0px 8px 32px 0px;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #88FF4E;
	border-image: initial;
	gap: 42px;
	padding: 70px;
}

.card__boxes__inner .card__box img {
    width:fit-content;
}

.heading {
    font-size: 32px;
    font-weight: normal;
    line-height: 40px;
}

.pargraph {
    font-size: 20px;
    line-height: 30px;
}

@media only screen and (max-width: 1024px) {
    .card__boxes__inner {
        flex-wrap: wrap;
        gap: 27px;
        justify-content: space-between;
    }
    .card__boxes__outer {
        padding: 80px 0;
    }
    .card__boxes__inner .card__box {
        gap: 15px;
        padding: 25px 20px;
        width: 48%;
    }
    .card__boxes__inner .card__box h3 {
        font-size: 25px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 800px) {
    .card__boxes__inner h3 {
        font-size: 22px !important;
        max-width: 630px;
    }
}

@media only screen and (max-width: 736px) {
    .card__boxes__inner {
        gap: 4%;
    }
    .card__boxes__inner .card__box:last-child {
        margin-top: 25px;
    }
}
@media only screen and (max-width: 616px) {
    .card__boxes__inner {
        gap: 30px;
    }
    .card__boxes__inner .card__box {
        width: 100%;
    }
    .card__boxes__inner .card__box:last-child { 
        margin-top: 0px;
    }
    .card__boxes__inner h3 {
        font-size: 26px !important;
    }
}
@media only screen and (max-width: 480px) {
    .card__boxes__inner h3 {
        font-size: 17px !important;
        width: 84%;
    }
    .card__boxes__outer {
        padding: 45px 0;
    }
}
