.nft {
    background-image: url("../../assets/Svgs/graph6.svg");
    background-repeat: no-repeat;
    background-position-x: -80px;
    background-position-y: -140px;
    background-size: calc(42% + 130px);
    padding: 90px 0 142px 0;
}

@media only screen and (min-width: 2200px) {
    .nft {
      background: none;
    }
    .image {
        background-image: url("../../assets/Svgs/graph6.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 700px;
    }
}

@media only screen and (max-width: 1780px) {
    .nft {
        padding: 100px 0 90px 0;
    }
}

@media only screen and (max-width: 1680px) {
    .nft {
        padding: 32px 0 110px 0;
    }
}

@media only screen and (max-width: 1580px) {
    .nft {
        padding: 20px 0 30px 0;
    }
}

@media only screen and (max-width: 1480px) {
    .nft {
        padding: 0px 0 0px 0;
    }
    .nft div div {
        gap: 27px;
    }
}  

@media only screen and (max-width: 1024px) {
    .nft {
        background-position: top center;
        background-size: calc(50% + 130px);
        padding: 30px 30px 0 30px;
        margin-top: -100px;
    }
    .nft img {
        width: 70% !important;
        padding-top: 100px !important;
    }
    .nft div div {
        gap: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .nft {
        background-position: top center;
        background-size: calc(50% + 130px);
        padding: 30px 30px 0 30px;
        margin-top: -70px;
    }
    .nft img {
        width: 60% !important;
        padding-top: 35px !important;
    }
    .nft div div {
        gap: 12px;
    }
}