.development {
    background: url("../../assets/Svgs/graph8.svg") no-repeat left;
    background-size: 50%;
    padding: 97px 0 165px 0;
}


@media only screen and (max-width: 1024px) {
    .development {
        padding: 0px 0 50px 0;
        background-position: top;
        background-size: calc(70% + 130px);
    }
    .development__inner .box img { 
        width: 80% !important;
    }
}

@media only screen and (max-width: 800px) {
    .development__inner {
        margin-top: 0px !important;
    }
}