.development {
    background: url("../../assets/Svgs/graph8.svg") no-repeat left;
    background-size: 50%;
    padding: 120px 0;
}
.development__inner {
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: space-between;
}

.development__inner .box {
    display: flex;
    flex-direction: column;
    width: 46%;
    gap: 50px;
}

.development__inner {
    background-image: url(/_next/static/media/graph8.2cf3e65a.png);
    display: flex;
    align-items: center;
}

.heading {
    font-size: 50px;
    font-weight: normal;
    color: #88FF4E;
    line-height: 67px;
}

.paragrapgh {
    font-size: 24px;
    line-height: 36px;
}

@media only screen and (max-width: 1024px) {
    .development {
        padding: 0px 0 50px 0;
        background-position: top;
        background-size: calc(70% + 130px);
    }
    .development__inner .box img { 
        width: 80% !important;
    }
}

@media only screen and (max-width: 800px) {
    .development__inner {
        margin-top: 0px !important;
    }
}